<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


      <style>
          .rmp {
            color: dimgray;
            font-family: Arial;
            letter-spacing: 10px;
            font-size: 30px;
            font-weight: bold;
        }
        .uf {
            color: #FA4616;
            font-family: Rockwell;
            font-size: 84px;
            letter-spacing: 0px;
            text-shadow: 4px 4px #0021A5;
            font-weight: bold
        }
          .info {
              font-size: 12px;
              color: #428bca;
              background: none!important;
                border: none;
          }
          .info:hover {
              text-decoration: underline;
          }
          .info:focus {
              outline: none;
            }
          .popover {
              max-width: 80%;
          }
          @media only screen and (min-width: 768px) {
                .xxx {width: 600px}
          }
      </style>
  </head>
    <div class = "container">
        <h1>
            <div class = "row mt-3 justify-content-center align-items-end">
                <span class="rmp ">&nbsp;RATE MY</span>
            </div>
            <div class ="row justify-content-center align-items-end mt-2">
                <span class="uf">UF</span>
            </div>
            <div class="row justify-content-center align-items-end">
                <span class="rmp"> &nbsp;PROFESSOR</span>
            </div>

        </h1>
    </div>
    <br>


    <div class="container">
          <div class="row justify-content-center mb-3">
              <button type="button" class="font-weight-light info text-center" data-container="body" data-toggle="popover" data-placement="top" data-animation="true" data-html="true"
                data-content="Click any of the General Education categories below to be offered professor and course recommendations that will satisfy those requirements.
                <br \>

                If you have a particular course in mind, search the course code in the text box for professor recommendations.">
                    Click here for directions
            </button>
          </div>
        <div class="row justify-content-center ">
            <a href="#result" id="c" roll="button" class="btn btn-outline-primary btn-sm mb-3 mr-1">Composition</a>
            <a href="#result" id="d" roll="button" class="btn btn-outline-primary btn-sm mb-3 mr-1">Diversity</a>
            <a href="#result" id="n" roll="button" class="btn btn-outline-primary btn-sm mb-3">International</a>
        </div>
        <div class="row justify-content-center">
            <a href="#result" id="h" roll="button" class="btn btn-outline-primary btn-sm mb-3 mr-2">Humanities</a>
            <a href="#result" id="b" roll="button" class="btn btn-outline-primary btn-sm mb-3 mr-2">Biological Sciences</a>
            <a href="#result" id="m" roll="button" class="btn btn-outline-primary btn-sm mb-3">Mathematics</a>
        </div>
          <div class="row justify-content-center">
            <a href="#result" id="s" roll="button" class="btn btn-outline-primary btn-sm mr-1">Social and Behavioral</a>
            <a href="#result" id="p" roll="button" class="btn btn-outline-primary btn-sm">Physical Sciences</a>
          </div>
      </div>
        <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="form-group mb-2 ml-3 mr-3">
                <textarea class="xxx form-control" id="userinput" rows="3" placeholder="MAC2312"></textarea>
             </div>
        </div>
    </div>
    <div class="text-center mt-2">
         <a href="#result" id="gensearch" roll="button" class="btn btn-primary btn-sm mr-3">Search</a>
        <button id="clear" type="button" class="btn btn-primary btn-sm">Clear</button>
    </div>

    <br>
    <div class="container">
        <div class="row justify-content-center">
            <button type="button" class="font-weight-light info text-center" data-container="body" data-toggle="popover" data-placement="top" data-animation="true" data-html="true"
                data-content="This site collects data on UF's current faculty and catalog to make recommendations on courses
                and professors. Our proprietary algorithm weighs a professor's experience at UF as well as
                previous student's reviews to give you the most up to date assessment.">
                    Interested in knowing more about how this site makes recommendations?
            </button>
        </div>
    </div>

  <div id="result"></div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover({
                title: '&nbsp;<a href="#" class="close" data-dismiss="alert">&times;</a>'
            });
            $(document).on("click", ".popover .close" , function(){
                $(this).parents(".popover").popover('hide');
            });
        });
        $(function() {
            $("#clear").click(function () {
                    $("#userinput").val('');
            });
        });
        $(function() {
            $("#gensearch").click(function (event) {
                $("#result").load("/result", {
                    userinput : $("#userinput").val()
                });
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        window.location.hash = hash;
                    });
                }
            });
        });
        $(function() {
            $("#b").on('click', function (event) {
                $("#result").load("/result", {
                    userinput : "b"
                });
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        window.location.hash = hash;
                    });
                }
            });
        });
        $(function() {
            $("#c").click(function () {
                $("#result").load("/result", {
                    userinput : "c"
                });
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        window.location.hash = hash;
                    });
                }
            });
        });
        $(function() {
            $("#d").click(function () {
                $("#result").load("/result", {
                    userinput : "d"
                });
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        window.location.hash = hash;
                    });
                }
            });
        });
        $(function() {
            $("#h").click(function () {
                $("#result").load("/result", {
                    userinput : "h"
                });
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        window.location.hash = hash;
                    });
                }
            });
        });
        $(function() {
            $("#n").click(function () {
                $("#result").load("/result", {
                    userinput : "n"
                });
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        window.location.hash = hash;
                    });
                }
            });
        });
        $(function() {
            $("#m").click(function () {
                $("#result").load("/result", {
                    userinput : "m"
                });
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        window.location.hash = hash;
                    });
                }
            });
        });
        $(function() {
            $("#p").click(function () {
                $("#result").load("/result", {
                    userinput : "p"
                });
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        window.location.hash = hash;
                    });
                }
            });
        });
        $(function() {
            $("#s").click(function () {
                $("#result").load("/result", {
                    userinput : "s"
                });
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        window.location.hash = hash;
                    });
                }
            });
        });
    </script>
  </body>
</html>